includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    scanFiles:
        - phpstan-stubs.php
    level: 5
    paths:
        - ../../packages/esctt-content
        - ../../packages/theme/app
        - ../../packages/theme/functions.php
